<div class="row justify-content-center">
  <div class="col-6">
    <form>
      <div class="form-group">
        <input type="username" class="form-control" id="username-input" placeholder="Hearthstone Username">
      </div>
      <button type="button" class="btn btn-primary" id="confirm-btn">Confirm</button>
    </form>
  </div>
</div>
